<div class="titulo"><h2>Registro de Usuarios</h2></div>
<div class="container">
    <div class="row g-5 button-group">
        <button class="btn btn-primary" (click)="goTo('paciente')">
            <img src="../../../../assets/iconos/paciente.svg" alt="paciente-icon">PACIENTE</button>
        <button class="btn btn-primary" (click)="goTo('especialista')">
            <img src="../../../../assets/iconos/doctor.svg" alt="especialista-icon">ESPECIALISTA</button>
        <button class="btn btn-primary" *ngIf="esUsuarioAdmin" (click)="goTo('administrador')">
            <img src="../../../../assets/iconos/admin.svg" alt="admin-icon">ADMINISTRADOR</button>
    </div>
</div>
<div class="forms-container" *ngIf="tipoRegistro">   
    <div *ngIf="tipoRegistro === 'paciente'">
        <app-registro-paciente></app-registro-paciente>
    </div>
    <div *ngIf="tipoRegistro === 'especialista'">
        <app-registro-especialistas></app-registro-especialistas>
        
    </div>
    <div *ngIf="tipoRegistro === 'administrador'">
        <app-registro-admin></app-registro-admin>
    </div>
</div>
  