<div class="container">
  <div class="titulo"><h2>Mis Turnos</h2></div>
  <div class="mb-3">
    <input
        type="text"
        class="form-control"
        placeholder="Buscar por cualquier campo..."
        [(ngModel)]="filtroBusqueda"
        (input)="filtrarTurnos()"
    />
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Especialidad</th>
        <th>Especialista</th>
        <th>Fecha</th>
        <th>Horario</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of turnosFiltrados">
        <td [innerHTML]="(turno.especialidad ?? '') | highlight: filtroBusqueda"></td>
        <td [innerHTML]="((turno.especialista?.nombre ?? '') + ' ' + (turno.especialista?.apellido ?? '')) | highlight: filtroBusqueda"></td>
        <td [innerHTML]="(turno.fecha ?? '') | highlight: filtroBusqueda"></td>
        <td [innerHTML]="(turno.inicio ?? '') | highlight: filtroBusqueda"></td>
        <td [innerHTML]="(turno.estado) | highlight: filtroBusqueda"></td>
        <td>
          <!-- Cancelar Turno -->
          <button 
            *ngIf="turno.estado === 'pendiente'" 
            class="btn btn-danger btn-sm" 
            (click)="cancelarTurno(turno)"
          >
            Cancelar
          </button>

          <!-- Reseña -->
          <button 
            *ngIf="turno.comentarioResena" 
            class="btn btn-info btn-sm" 
            (click)="verResena(turno)"
          >
            Ver Reseña
          </button>

          <!-- Encuesta -->
          <button 
            *ngIf="turno.estado === 'realizado' && turno.comentarioResena && !turno.encuestaCompleta" 
            class="btn btn-success btn-sm" 
            (click)="completarEncuesta(turno)"
          >
            Completar Encuesta
          </button>

          <!-- Calificación -->
          <button 
            *ngIf="turno.estado === 'realizado' && !turno.calificacionAtencion" 
            class="btn btn-warning btn-sm" 
            (click)="calificarAtencion(turno)"
          >
            Calificar Atención
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>