<div class="banner">
    Central de Turnos 0800-222-3456 - Horarios de Atención de Lunes a Viernes 7:00 a 20:00 hs
</div>
<div class="contacto-container">
  <div class="columna-izquierda">
    <h2>Contáctenos</h2>
    
    <h3>Pacientes:</h3>
    <p><i class="fas fa-envelope"></i> pacientes&#64;sanatorio-asclepios.com.ar</p>
    
    <h3>Atención Comercial:</h3>
    <p><i class="fas fa-envelope"></i> comercial&#64;sanatorio-asclepios.com.ar</p>
    
    <h3>Atención Colaboradores:</h3>
    <p><i class="fas fa-envelope"></i> especialistas&#64;sanatorio-asclepios.com.ar</p>
  </div>

  <div class="columna-derecha">
    <h2><i class="fas fa-map-marker-alt"></i> Ubicación</h2>
    <p>Av. Patricias Argentinas 351</p>
    <p>Ciudad Autónoma de Buenos Aires</p>
    <img src="../../../assets/fotos/mapa.png" alt="" style="width: 300px;">
  </div>
</div>
  
