
.container {
  background-color: transparent;
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content:space-around;
}

.mi-perfil-card {
  display: flex;
  padding: 10px;
  width: 50%;
}

.perfil-foto {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  button {
    margin-top: 0.5rem;
  }
}

.perfil-datos {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.disponibilidad-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem;
  margin-left: 20px;
  width: 60%;
  height: 90%;
}

.disponibilidad-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 20px;
  margin-bottom: 30px;
}

.disponibilidad-table th, .disponibilidad-table td {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.disponibilidad-table th {
  background-color: #307183;
  font-weight: bold;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.activo {
  background-color: green;
  color: white;
}

button.inactivo {
  background-color: red;
  color: white;
}

.titulo {
  display: flex;
  justify-content: center;
  background-color: #5f83b1;
  width: 100%;
  padding: 15px 0;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: xx-large;
  color: white;
}

h3{
  font-size: x-large;
}

p{
  margin-top: 15px;
}

h1{
  font-weight: bold;
}

.nombre-usuario{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

