<div class="titulo">Mi Perfil</div>
<div class="container">
  <div class="card mi-perfil-card">
    <div class="titulo"><h3>Mis Datos</h3></div>
    <div class="perfil-foto">
      <img [src]="mostrarPerfil1 ? usuario.perfil1 : usuario.perfil2" alt="Foto de perfil" />
      <button *ngIf="usuario.esPaciente" (click)="toggleFoto()">Cambiar Foto</button>
    </div>

    <div class="perfil-datos">
      <div class="nombre-usuario">
        <h1>{{ usuario.nombre }} {{ usuario.apellido }}</h1>
      </div>
      <p><strong>Edad:</strong> {{ usuario.edad }}</p>
      <p><strong>DNI:</strong> {{ usuario.dni }}</p>
      <p><strong>Email:</strong> {{ usuario.email }}</p>
      <p *ngIf="usuario.esPaciente"><strong>Obra Social:</strong> {{ usuario.obra_social }}</p>
      <p *ngIf="usuario.esEspecialista"><strong>Especialidades:</strong> {{ usuario.especialidad }}</p>

    </div>
    <button *ngIf="usuario.esPaciente" class="btn btn-primary" (click)="mostrarHistoriaClinica()" style="margin-top: 25px;" >Mi Historia Clínica</button>

    <div *ngIf="usuario.esPaciente" class="mb-3">
      <label for="especialistaSelect">Filtrar por especialista:</label>
      <select id="especialistaSelect" [(ngModel)]="especialistaSeleccionado" class="form-control">
        <option value="Todos">Todos</option>
        <option *ngFor="let especialista of especialistas" [value]="especialista.apellido">{{ especialista.nombre}} {{especialista.apellido }}</option>
      </select>
    </div>

    <button *ngIf="usuario.esPaciente" class="btn btn-primary" (click)="descargarHistoriaClinica()" style="margin-top: 25px;" >Descargar</button>

  </div>

  <div class="disponibilidad-card" *ngIf="usuario.esEspecialista">
    <div class="titulo"><h3>Mi Disponibilidad</h3></div>
    <p>(Recuerde que la disponibilidad mínima requerida es de 4 hs diarias.)</p>
    <table class="disponibilidad-table">
      <thead>
        <tr>
          <th>Día</th>
          <th>Desde</th>
          <th>Hasta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dia of ['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado']">
          <td>{{ dia }}</td>
          <td>
            <select [(ngModel)]="horario[dia].desde">
              <option *ngFor="let hora of obtenerOpcionesHorario(dia, 'desde')" [value]="hora">{{ hora }}</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="horario[dia].hasta">
              <option *ngFor="let hora of obtenerOpcionesHorario(dia, 'hasta')" [value]="hora">{{ hora }}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="color: red;"><p>{{prompt}}</p></div>
    <button class="btn btn-primary" (click)="ActualizarDisponibilidad()">Actualizar Disponibilidad</button>
  </div>
</div>