table{
    font-size: medium;
}

.select-tipo{
    font-size: large;
    min-height: 5vh;
    display: flex;
    align-items:center;
}

.select-tipo label{
    margin-left: 10px;
    margin-right: 15px;
}