table{
    font-size: medium;
}

.select-tipo{
    font-size: large;
    min-height: 5vh;
    display: flex;
    align-items:center;
}

.select-tipo label{
    margin-left: 10px;
    margin-right: 15px;
    color: white;
    font-size: large;
}

.descarga{
    display: flex;
    justify-items: center;
}

.container{
    background-color: rgb(128, 128, 128);
    min-height: 100vh;
    min-width: 100%;
    padding-bottom: 10vh;
}