.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 35px;
    width: 70%;
    height: auto;
    z-index: 60;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: fixed;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content button {
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #2e62a6;
    font-size: 20px;
    color: white;
    height: 35px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    max-width: 30px;
    height: auto;
}

.close-button:hover {
    color: #f00;
}

.input{
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-bottom: 25px;
}

.input label{
    margin: 10px;
}

.accesos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .acceso-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;

  }
  
  .acceso-item img {
    width: 120px;
    height: 80px;
    cursor: pointer;
    border-color: #2e62a6;
    border-width: 5px;
    border-style: solid;
  }
  
  .acceso-item h4 {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }