<form [formGroup]="altaFormAdmin" (ngSubmit)="onSubmit()">
    <div class="row g-3">
        <div class="col-sm-12">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" formControlName="nombre">
            <div *ngIf="altaFormAdmin.get('nombre')?.invalid && altaFormAdmin.get('nombre')?.touched">
                <p class="error-msg">Proporcione un Nombre válido. Solo letras. Máx. 50 caracteres.</p>
            </div>
        </div>
        <div class="col-sm-12">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" formControlName="apellido">
            <div *ngIf="altaFormAdmin.get('apellido')?.invalid && altaFormAdmin.get('apellido')?.touched">
                <p class="error-msg">Proporcione un Apellido válido. Solo letras. Máx. 50 caracteres.</p>
            </div>
        </div>
        <div class="col-12">
            <label for="edad" class="form-label">Edad</label>
            <input type="number" formControlName="edad">
            <div *ngIf="altaFormAdmin.get('edad')?.invalid && altaFormAdmin.get('edad')?.touched">
                <p class="error-msg">Proporcione una edad válida. Min. 18 y Máx. 65.</p>
            </div>
        </div>
        <div class="col-12">
            <label for="dni" class="form-label">DNI</label>
            <input type="number" formControlName="dni">
            <div *ngIf="altaFormAdmin.get('dni')?.invalid && altaFormAdmin.get('dni')?.touched">
                <p class="error-msg">Proporcione un DNI válido. Mín. 7 y Máx. 8 dígitos.</p>
            </div>
        </div>
        <div class="col-sm-12">
            <label class="form-label">Email</label>
            <input type="text" formControlName="email">
            <div *ngIf="altaFormAdmin.get('email')?.invalid && altaFormAdmin.get('email')?.touched">
                <p class="error-msg">Proporcione un Email válido. Respete el formato.</p>
            </div>
        </div>
        <div class="col-sm-12">
            <label class="form-label">Contraseña</label>
            <input type="password" formControlName="contrasena">
            <div *ngIf="altaFormAdmin.get('contrasena')?.invalid && altaFormAdmin.get('contrasena')?.touched">
                <p class="error-msg">Proporcione una contraseña válida. Mín. 6 caracteres.</p>
            </div>
        </div>
        <div class="col-sm-12">
            <label class="form-label">1º Foto de Perfil</label>
            <img [src]="perfil1src" alt="Foto de Perfil 1" width="150" height="150">
            <input type="file" (change)="onFileSelected($event, 'perfil1')" accept="image/jpeg" style="margin-left: 25px;"/>
            <div *ngIf="fotoPerfil1Error">
                <p class="error-msg">Seleccione una imagen válida. Máx 50Kb</p>
            </div>
        </div>
        <re-captcha (resolved)="resolved($event)" siteKey="6LfDUnYqAAAAALtNr54ely-h7AOGwNQIDVc6FycU"></re-captcha>
    </div>
    <button class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="!captchaResponse">Registrar Administrador</button>
</form>
