<div class="consola-container">
    <button *ngIf="esAdmin" class="consola-button" (click)="goTo('usuarios')">
      <img src="../../../assets/iconos/usuarios-icon.svg" alt="usuarios-icon" />
      <span>Usuarios</span>
    </button>
    <button *ngIf="esAdmin" class="consola-button" (click)="goTo('registro')">
      <img src="../../../assets/iconos/alta-usuario-icon.svg" alt="alta-usuario-icon" />
      <span>Alta Usuario</span>
    </button>
    <button *ngIf="esAdmin" class="consola-button" (click)="goTo('turnos')">
      <img src="../../../assets/iconos/turnos-icon.svg" alt="turnos-icon" />
      <span>Turnos</span>
    </button>
    <button *ngIf="esAdmin||esPaciente"class="consola-button" (click)="goTo('turnos-alta')">
      <img src="../../../assets/iconos/turnos-alta.svg" alt="Icon 4" />
      <span>Pedir Turno</span>
    </button>
    <button *ngIf="esPaciente || esEspecialista" class="consola-button" (click)="goToMisTurnos()">
      <img src="../../../assets/iconos/turnos-icon.svg" alt="usuarios-icon" />
      <span>Mis Turnos</span>
    </button>
    <button class="consola-button" (click)="goTo('perfil')">
      <img src="../../../assets/iconos/usuario-2-icon.svg" alt="alta-usuario-icon" />
      <span>Mi perfil</span>
    </button>
    <button *ngIf="esEspecialista" class="consola-button" (click)="goTo('pacientes')">
      <img src="../../../assets/iconos/usuarios-icon.svg" alt="turnos-icon" />
      <span>Mis Pacientes</span>
    </button>
  </div>
