<div class="consola-container">
    <button class="consola-button" (click)="goTo('usuarios')">
      <img src="../../../assets/iconos/usuarios-icon.svg" alt="usuarios-icon" />
      <span>Usuarios</span>
    </button>
    <button class="consola-button" (click)="goTo('registro')">
      <img src="../../../assets/iconos/alta-usuario-icon.svg" alt="alta-usuario-icon" />
      <span>Alta Usuario</span>
    </button>
    <button class="consola-button">
      <img src="../../../assets/iconos/turnos-icon.svg" alt="turnos-icon" />
      <span>Turnos</span>
    </button>
    <button class="consola-button">
      <img src="../../../assets/iconos/usuarios-icon.svg" alt="Icon 4" />
      <span>Button 4</span>
    </button>
  </div>
