.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.block-especialista-p {
  display: flex;
  background-color: rgb(48, 120, 180);
  padding: 10px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: auto;
  max-width: 100%;
}

.select-especialista-p {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 5px 0;
}

.card-especialidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 50%;
  width: 130px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: beige;
  font-weight: bold;
}

.block-especialista {
  display: flex;
  background-color: rgb(48, 120, 180);
  padding: 10px;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}

.especialista-seleccionado {
  background-color: rgb(48, 120, 180);
  padding: 10px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.especialista-seleccionado h2 {
  margin: 5px 0;
}

.nombre-especialista {
  font-weight: normal;
}
  
.profile-pic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.especialidad-img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}


.select-especialista{
  display: flex;
  justify-items: auto;
  margin-bottom: 10px;
}

  h2{
    color: white;
    margin-left: 25px;
  }
  
  .btn {
    margin: 8px;
  }

  .container{
    margin-left: 0;
    padding-left: 10vw;
    padding-bottom: 25px;
  }

  h2{
    font-weight: bold;
  }
  
  h4{
    color: white;
    font-size: 20px;
  }

  h3 {
    text-align: center;
  }

  .titulo {
    display: flex;
    justify-content: center;
    background-color: #5f83b1;
    width: 100%;
    margin-top: 0;
    padding: 10px;
  }

  .titulo h2{
    font-size: x-large;
    font-weight: bold;
  }

  .select-especialidad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .especialidad-seleccionada {
    background-color: rgb(48, 120, 180);
    padding: 10px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  
  .nombre-especialidad {
    font-weight: normal;
  }

  .confirmacion{
    background-color: white;
    font-weight: bold;
    margin-bottom: 100px;
  }

  .confirmacion h2{
    color: rgb(9, 26, 75);
  }