<div class="container">
    <div class="titulo"><h2>Turnos</h2></div>
    <div class="mb-3">
      <input
          type="text"
          class="form-control"
          placeholder="Buscar por cualquier campo..."
          [(ngModel)]="filtroBusqueda"
          (input)="filtrarTurnos()"
      />
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Especialidad</th>
            <th>Especialista</th>
            <th>Paciente</th>
            <th>Fecha</th>
            <th>Horario</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let turno of turnosFiltrados">
            <td appHighlightCoincidencia [word]="filtroBusqueda">{{ turno.especialidad ?? '' }}</td>
            <td appHighlightCoincidencia [word]="filtroBusqueda">{{ (turno.especialista?.nombre ?? '') + ' ' + (turno.especialista?.apellido ?? '') }}</td>
            <td appHighlightCoincidencia [word]="filtroBusqueda">{{ (turno.paciente?.nombre ?? '') + ' ' + (turno.paciente?.apellido ?? '') }}</td>
            <td appHighlightCoincidencia [word]="filtroBusqueda">{{ turno.fecha ?? '' }}</td>
            <td appHighlightCoincidencia [word]="filtroBusqueda">{{ turno.inicio ?? '' }}</td>
            <td appHighlightEstado="{{ turno.estado }}" appHighlightCoincidencia [word]="filtroBusqueda">{{ turno.estado }}</td>               
            <td>
              <!-- Cancelar Turno -->
              <button 
                *ngIf="turno.estado !== 'aceptado' && turno.estado !== 'realizado' && turno.estado !== 'rechazado' && turno.estado !== 'cancelado'" 
                class="btn btn-danger btn-sm" 
                (click)="cancelarTurno(turno)"
              >
                Cancelar
              </button>
      
            <!-- Ver Motivo -->
            <button 
                *ngIf="turno.comentarioCancelacion" 
                class="btn btn-info btn-sm" 
                (click)="verMotivo(turno)"
                >
                Ver Motivo
            </button>
            </td>
          </tr>
        </tbody>
    </table>
</div>

  